html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
    grid-template-rows: 4.5rem auto 4.5rem;
}

header {
    background-color: blue;
    color: white;
    grid-column-start: col-1-start;
    grid-column-end: col-2-end;
}

main {
    background-color: red;
    color: white;
    grid-column-start: col-2-start;
}

aside {
    background-color: green;
    color: white;
    grid-row-start: 2;
}

footer {
    background-color: purple;
    color: white;
    grid-column-start: col-1-start;
    grid-column-end: col-2-end;
}

